@use "../global/variables.scss" as *;

.about {
  // margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  outline: 2px solid #dda0dd;
}

.about__title {
  margin-bottom: 50px;
  outline: 2px solid #008000;
  outline-offset: -2px;
}

.about__list-item {
  padding-top: 53px;
  // padding-bottom: 30px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 94px);
  grid-auto-flow: column;
  font-size: 17px;
  font-weight: 700;
  // 20/17 = 1.17
  line-height: 1.17;
  color: $color-black;
  background-repeat: no-repeat;

  &--flower {
    background-image: url("../img/about/flower.svg");
    background-size: 33px 38px;

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--money {
    background-image: url("../img/about/money.svg");
    background-size: 47px 27px;

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--heart {
    background-image: url("../img/about/heart.svg");
    background-size: 34px 27px;

    @media (min-width: $tablet-width) {
      order: 5;
    }
  }

  &--ball {
    background-image: url("../img/about/ball.svg");
    background-size: 35px 34px;

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--rocket {
    background-image: url("../img/about/rocket.svg");
    background-size: 55px 23px;

    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &--gift {
    background-image: url("../img/about/gift.svg");
    background-size: 33px 32px;

    @media (min-width: $tablet-width) {
      order: 6;
    }
  }
}

@media (min-width: $tablet-width) {
  .about__list {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 265px 294px;
    column-gap: 70px;
    row-gap: 110px;
    grid-auto-flow: row;
  }
}

@media (min-width: $desktop-width) {
  .about__list-wrapper {
    max-width: 1150px;
  }

  .about {
    max-width: 1050px;
    grid-template-columns: 1050px;
  }
}
