@use "../global/variables.scss" as *;

.about {
  margin-bottom: 3px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.about__title {
  margin-bottom: 50px;
}

// .about__list {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.about__list-item {
  display: grid;
  grid-template-rows: repeat(auto-fit, 94px);
  grid-auto-flow: column;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  // 20/17 = 1.17
  line-height: 1.17;
  color: $color-black;
  background-repeat: no-repeat;

  &--flower {
    padding-top: 32px;
    position: relative;

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--flower::before {
    width: 33px;
    height: 38px;
    position: absolute;
    content: "";
    top: -22px;
    left: 8px;
    background-image: url("../img/about/flower.svg");
    background-repeat: no-repeat;
  }

  &--money {
    padding-top: 30px;
    position: relative;

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--money::before {
    width: 47px;
    height: 27px;
    position: absolute;
    content: "";
    top: -24px;
    left: 0;
    background-image: url("../img/about/money.svg");
    background-repeat: no-repeat;
  }

  &--heart {
    padding-top: 29px;
    position: relative;

    @media (min-width: $tablet-width) {
      order: 5;
    }
  }

  &--heart::before {
    width: 34px;
    height: 27px;
    position: absolute;
    content: "";
    top: -20px;
    left: 8px;
    background-image: url("../img/about/heart.svg");
    background-repeat: no-repeat;
  }

  &--ball {
    padding-top: 29px;
    position: relative;

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--ball::before {
    width: 34px;
    height: 34px;
    position: absolute;
    content: "";
    top: -23px;
    left: 4px;
    background-image: url("../img/about/ball.svg");
    background-repeat: no-repeat;
  }

  &--rocket {
    padding-top: 29px;
    position: relative;

    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &--rocket::before {
    width: 55px;
    height: 23px;
    position: absolute;
    content: "";
    top: -22px;
    left: -5px;
    background-image: url("../img/about/rocket.svg");
    background-repeat: no-repeat;
  }

  &--gift {
    padding-top: 29px;
    position: relative;

    @media (min-width: $tablet-width) {
      order: 6;
    }
  }

  &--gift::before {
    width: 33px;
    height: 32px;
    position: absolute;
    content: "";
    top: -24px;
    left: 2px;
    background-image: url("../img/about/gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .about__list {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 265px 294px;
    // column-gap: 70px;
    row-gap: 110px;
    grid-auto-flow: row;
  }
}

@media (min-width: $desktop-width) {
  .about__list-wrapper {
    max-width: 1150px;
  }

  .about {
    max-width: 1050px;
    grid-template-columns: 1050px;
  }
}
