@use "../global/variables.scss" as *;

// catalog-header

.catalog-header {
  min-height: 177px;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
}

.catalog__title {
  margin: 0;
  display: block;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
}

// catalog

.catalog__list {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: minmax(260px, 1fr);
}

.catalog__item {
  display: block;
  box-sizing: border-box;
  margin-top: 30px;
  border: 1px solid #e5e5e5;

  &:hover {
    outline: 2px solid $color-green;
    z-index: 2;

    .catalog__toy-icon {
      fill: $color-green;
    }
  }
}

.catalog__toy-wrapper {
  padding: 0 27px;
}

.catalog__toy-name {
  margin: 0;
  padding-top: 28px;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.catalog__toy-description {
  margin: 0;
  margin-bottom: 41px;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.catalog__toy-price {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog__toy-price-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    height: 1px;
    width: 100%;
    position: absolute;
    content: "";
    top: -24px;
    border-top: 1px solid #e5e5e5;
    z-index: 2;
  }
}

.catalog__toy-icon {
  fill: rgba($color-black, 0.6);
}

@media (min-width: $tablet-width) {
  .catalog-header {
    min-height: 124px;
  }

  .catalog__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .main-catalog .container-color {
    min-height: 177px;
  }

  .main-catalog .container-zig-catalog-header {
    margin-bottom: 62px;
  }

  .catalog__list {
    row-gap: 54px;
    margin-bottom: 53px;
  }

  .catalog__item {
    margin-top: 0;
    min-height: 334px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product__images {
    height: 334px;
  }

  .catalog__toy-wrapper {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
  }

  .catalog__toy-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__toy-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__toy-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .catalog__toy-price-wrapper {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog-header {
    min-height: 130px;
  }

  .catalog__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .main-catalog .container-color {
    min-height: 186px;
  }

  .main-catalog .container-zig-catalog-header {
    margin-bottom: 132px;
  }

  .catalog__list {
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
    grid-template-columns: repeat(3, 316px);
    column-gap: 51px;
  }

  .catalog__item {
    margin: 0;
    padding: 0;
    min-height: 659px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .product__images {
    width: 316px;
    height: 462px;
  }

  .catalog__toy-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__toy-description {
    margin-bottom: 36px;
  }

  .toy-description-rabbit-desktop {
    margin-bottom: 60px;
  }

  .toy-description-laundry_basket-desktop {
    margin-bottom: 60px;
  }

  .catalog__toy-wrapper {
    padding-left: 28px;
  }
}
