@use "../global/variables.scss" as *;

.catalog {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.catalog__title {
  margin: 0;
  text-align: center;
}

.catalog__list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(260px, 1fr);
  list-style-type: none;
  outline: 2px solid #d60b60;
  outline-offset: -4px;
}

.catalog__toy-name,
.catalog__toy-description,
.catalog__toy-price {
  margin: 0;
}

// от 768px
@media (min-width: $tablet-width) {
  .catalog {
    max-width: 1050px;
  }

  .catalog__item {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .catalog__toy-wrapper {
    display: flex;
    flex-direction: column;
  }

  .catalog__toy-price {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-auto-flow: column;
    outline: 2px solid #0badd6;
    outline-offset: -2px;
  }

  .catalog__list {
    grid-template-columns: repeat(3, 316px);
    column-gap: 51px;
  }

  .catalog__toy-price {
    margin-top: 0;
  }
}
