@use "../global/variables.scss" as *;

.contacts {
  margin: 0 auto;
  padding-top: 44px;
  margin-left: -1px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts__title {
  grid-area: contacts__title;
  margin-bottom: 29px;
}

.contacts__address-wrapper {
  margin-bottom: 33px;
  grid-area: contacts__address-wrapper;
}

.contacts__address {
  margin: 0;
  padding-bottom: 30px;
  display: flex;
}

.contacts__address-name {
  margin: 0;
  width: 76px;
  display: block-inline;
  font-size: 14px;
  // 30/14 = 2.14
  line-height: 2.14;
  color: $color-gray;
}

.contacts__address-value {
  margin: 0;
  margin-left: 2px;
  width: 183px;
  display: block-inline;
  font-size: 14px;
  // 30/14 = 2.14
  line-height: 2.14;
  color: $color-gray;
}

.contacts__email {
  width: 170px;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: $color-gray;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;

    height: 1px;
    background-color: $color-green;
  }

  &:hover {
    color: $color-green;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  margin: 0 -30px;
  margin-bottom: 40px;
  grid-area: contacts__map-wrapper;
  position: relative;
}

.contacts__button {
  margin: 0 auto;
  width: 260px;
  height: 52px;
  grid-area: contacts__button;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 55px;
  }

  .contacts__title {
    margin-top: 42px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;

    &::after {
      width: 46px;
      height: 81px;
      position: absolute;
      content: "";
      top: 63px;
      right: 4px;
      background-image: url("../img/icon/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__address-wrapper {
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contacts__address {
    grid-template-columns: 82px 257px;
  }

  .contacts__address-name {
    justify-self: flex-start;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__address-value {
    width: 258px;
    justify-self: flex-start;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__email {
    width: 204px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;

    &::after {
      top: 28px;
    }
  }

  .contacts__map-wrapper {
    margin: 0 -50px;
    margin-bottom: 58px;
    position: relative;
  }

  .contacts__button {
    width: 230px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }

  .map__body {
    width: 100vw;
    height: 455px;

    @media (min-width: 1150px) {
      width: 100%;
      height: 457px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    max-width: 1050px;
    margin-left: 174px;
    margin-bottom: 46px;
    position: relative;
    display: grid;
    grid-template-columns: 349px 525px;
    column-gap: 50px;
    grid-template-areas:
      "contacts__title contacts__map-wrapper"
      "contacts__address-wrapper contacts__map-wrapper"
      "contacts__button contacts__map-wrapper";
  }

  .contacts__title {
    margin-top: 17px;
    margin-bottom: -15px;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: 50px;
      right: none;
      left: -111px;
    }
  }

  .contacts__address-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .contacts__email {
    &::after {
      top: 33px;
    }
  }

  .contacts__map-wrapper {
    margin-top: -58px;
    width: 525px;
  }

  .contacts__button {
    margin: 0;
  }
}

// MAP!!!!

.map {
  min-width: 320px;
  height: 455px;
  display: block;
  position: relative;
  overflow: hidden;
}

.map__imageif {
  width: 100%;
  min-height: 455px;
  position: absolute;
  content: "";
  object-fit: contain;
  border: none;
}

.map__imageim {
  width: 100%;
  min-height: 455px;
  position: absolute;
  content: "";
  object-fit: cover;
  border: none;
}

.mapyandex {
  min-width: 320px;
  width: 100vw;
  height: 455px;
  position: absolute;
  content: "";

  @media (min-width: 1150px) {
    width: 527px;
    height: 457px;
  }
}

.mapnojs {
  display: none;
}
