@use "../global/variables.scss" as *;

// .container-map {
//   // padding-top: 100px;
//   background-image: url("../img/contacts/map-mobile1x1.png");
//   background-repeat: no-repeat;
//   background-position: 0 200px;
// }

.contacts {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  // outline: 2px solid #dda0dd;
}

.contacts__title {
  grid-area: contacts__title;
}

.contacts__address-wrapper {
  grid-area: contacts__address-wrapper;
}

.contacts__address {
  margin: 0;
  display: flex;
}

.contacts__address-name {
  margin: 0;
  width: 76px;
  display: block-inline;
  font-size: 14px;
  // 30/14 = 2.14
  line-height: 2.14;
  /* or 214% */
  color: $color-gray;
}

.contacts__address-value {
  margin: 0;
  width: 183px;
  display: block-inline;
  font-size: 14px;
  // 30/14 = 2.14
  line-height: 2.14;
  /* or 214% */
  color: $color-gray;
}

.contacts__email {
  position: relative;
  text-decoration: none;
  color: $color-gray;

  &::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color-green;
  }

  &:hover {
    color: $color-green;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  margin: 0 -30px;
  margin-bottom: 40px;
  grid-area: contacts__map-wrapper;
}

.contacts__button {
  margin: 0 auto;
  width: 260px;
  height: 52px;
  grid-area: contacts__button;
}

@media (min-width: $tablet-width) {
  .contacts__address-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contacts__address {
    display: grid;
    grid-template-columns: 82px 257px;
  }
}

//1050
@media (min-width: $desktop-width) {
  .contacts__address-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    max-width: 1050px;
    display: grid;
    grid-template-columns: mimax(469px, 1fr) minmax(525px, 1fr);
    column-gap: 56px;
    grid-template-areas:
      "contacts__title contacts__map-wrapper"
      "contacts__address-wrapper contacts__map-wrapper"
      "contacts__button contacts__map-wrapper";
  }
}
