@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;

.copyright {
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
}

.copyright__title {
  margin-left: -1px;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: flex;
  align-items: center;

  fill: rgba(99, 209, 187, 1);

  &:hover {
    fill: rgba(99, 209, 187, 0.5);
  }

  // тест миксина
  &:active {
    @include active;
  }
}

.copyright__link svg {
  margin-left: 28px;
}

.copyright__title:hover + .copyright__link {
  fill: $color-black;
  padding: 0;
}

// .copyright__title {
//   &:hover + .copyright__link {
//     path {
//       fill: $color-green-dark;
//     }
//   }

//   &:active + .copyright__link {
//     @include active;
//   }
// }

@media (min-width: $tablet-width) {
  .copyright__list {
    width: 223px;
    margin: 0;
    margin-top: -4px;
    justify-content: flex-end;
  }

  .copyright__title {
    margin-right: 4px;
  }

  .copyright__link svg {
    margin-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__title {
    margin-right: 8px;
  }
}
