.copyright {
  width: 320px;
  padding: 0 30px;
}

.copyright__list {
  margin: 0 auto;
  width: 180px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
