@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;

.copyright {
  min-height: 80px;
  margin-left: 69px;
  margin-right: 69px;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.copyright__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__title {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: flex;
  align-items: center;
  outline: none;

  fill: #63d1bb;

  &:hover {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }

  // тест миксина
  // &:active {
  //   @include active;
  // }
}

.copyright__title:hover + .copyright__link {
  fill: $color-black;
  padding: 0;
}

// .copyright__title {
//   &:hover + .copyright__link {
//     path {
//       fill: $color-green-dark;
//     }
//   }

//   &:active + .copyright__link {
//     @include active;
//   }
// }

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    justify-content: flex-end;
  }

  .copyright__list {
    width: 223px;
    margin: 0;
    margin-left: 42px;
  }

  .copyright__link {
    min-height: 143px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__title {
    margin-right: 8px;
  }

  .copyright__list {
    width: 182px;
  }
}
