@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;

.footer {
  position: relative;
  background-color: #f1f1f1;
}

.footer__wrapper {
  margin: 0 auto;
  position: relative;
  background-color: #f1f1f1;
  display: grid;
}

.footer__logo-wrapper {
  display: none;
  background-color: #f1f1f1;
}

.footer__logo-link {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    path {
      fill: $color-green-dark;
    }
  }

  // тест миксина
  &:active {
    @include active;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 0 50px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__logo-wrapper {
    min-height: 143px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 0 50px;
    max-width: $desktop-width;
  }
}
