@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;

.footer {
  position: relative;
  background-color: #f1f1f1;
}

.footer__wrapper {
  margin: 0 auto;
  position: relative;
  background-color: #f1f1f1;
  display: grid;
}

.footer__logo-wrapper {
  display: none;
  background-color: #f1f1f1;
}

.footer__logo-link {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    path {
      fill: rgba(70, 193, 174, 1);
    }
  }

  &:active {
    path {
      fill: rgba(70, 193, 174, 0.3);
    }
  }

  /* Hide focus styles if they're not needed, for example,
  when an element receives focus via the mouse. */
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0;
  }

  /* Show focus styles on keyboard focus. */
  &:focus-visible {
    outline: 2px solid $color-green;
    outline-offset: -2px;
    border-radius: 3px;
    z-index: 50;
  }

  // тест миксина
  // &:hover {
  //   @include hover;
  // }

  // тест миксина
  // &:active {
  //   @include active;
  // }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 0 50px;
    max-width: 100%;
    grid-template-columns: minmax(219px, 1fr) 1fr minmax(219px, 1fr);
  }

  .footer__logo-wrapper {
    display: flex;
  }

  .footer__logo-link {
    min-height: 143px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 0 50px;
    max-width: $desktop-width;
  }
}
