@use "../global/variables.scss" as *;

.footer {
  margin: 0 auto;
  // padding: 0 30px;
  min-width: 320px;

  // display: flex;
  // flex-direction: column;
  position: relative;
  background-color: #f1f1f1;
  outline: 2px solid #008000;
  outline-offset: -2px;
}

.footer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f1f1f1;
}

.footer__logo-wrapper {
  display: none;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
  }

  .footer__logo-wrapper {
    min-height: 143px;
    display: flex;
    align-items: center;
    outline: 2px solid #dda0dd;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 0;
    // padding: 0 50px;
    max-width: 1050px;
  }
}

// @media (min-width: 1441px) {
//   .footer__wrapper {
//     padding: 0;
//     max-width: 1440px;
//   }
// }
