.header {
  width: 320px;
  padding: 0 30px;
  outline: 2px solid #008000;
  position: relative;
  margin: 0 auto;
}

.site-navigation,
.user-navigation {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__logo-wrapper {
  min-height: 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: 2px solid #dda0dd;
}

.header__logo {
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.header__button {
  padding: 0;
  display: block;
  position: absolute;
  right: 30px;
  border: none;
  background-color: transparent;
}

.navigation__item {
  width: 168px;
}


// стили для планшета 768px
@media (min-width: 500px) and (max-width: 768px) {
  .header {
    width: 768px;
    margin: 0;
    padding: 0 50px;
  }

  .header__logo-wrapper {
    width: 320px;
    min-height: 88px;
    justify-content: flex-start;
  }

  .header__button {
    display: none;
  }

  .site-navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__item {
    width: 160px;
    min-height: 88px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(247, 242, 242);
  }

  .user-navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
