@use "../global/variables.scss" as *;

.header {
  min-width: 320px;
  width: 100%;
  padding: 0 30px;
  outline: 2px solid #008000;
  outline-offset: -2px;
  position: relative;
}

.header__logo-wrapper {
  margin: 0;
  padding: 0;
  // min-width: 260px;
  // width: 100%;
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.header__logo {
  margin: 0 auto;
}

.header__button {
  padding: 0;
  display: block;
  position: absolute;
  right: 30px;
  border: none;
  background-color: transparent;
}

// от 768px
@media (min-width: $tablet-width) {
  .header {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .header__logo-wrapper {
    // min-width: 320px;
    width: 100%;
    min-height: 88px;
    justify-content: flex-start;
  }

  .header__button {
    display: none;
  }
}

// от 1150px
@media (min-width: $desktop-width) {
  .header {
    width: 1150px;
    // padding: 0 50px;
    // margin: 0 auto;
  }

  .header__logo-wrapper {
    width: 149px;
    position: absolute;
    left: 500px;
    height: 88px;
    order: 2;
  }
}

