@use "../global/variables.scss" as *;

.hero {
  position: relative;
  margin-bottom: 50px;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.hero__title {
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 50px;
  text-align: center;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}

.hero__item:nth-child(odd) {
  background-color: $color-green;
}

.hero__item:nth-child(even) {
  background-color: $color-green-dark;
}

.hero__link {
  min-height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 19px;
  //24/19=1.26
  line-height: 1.26;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
}

.hero__categotry {
  width: 131px;
}

// от 768px
@media (min-width: $tablet-width) {
  .hero__list {
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  }

  .hero__link svg {
    margin-right: 36px;
  }

  .hero__categotry {
    margin-left: 36px;
    display: block;
  }
}

// .hero::before {
//   width: 320px;
//   height: 299px;
//   position: absolute;
//   left: -30px;
//   content: "";
//   display: block;
//   background-image: url("../../../img/mobile-hero.png");
//   background-repeat: no-repeat;
//   z-index: -1;
// }

// стили для планшета 768px
// @media (min-width: $tablet-width) {
//   .hero::before {
//     width: 768px;
//     height: 746px;
//     top: -86px;
//     left: -50px;
//     background-image: url("../../img/tablet-hero.png");
//     background-repeat: no-repeat;
//   }

//   .hero::after {
//     width: 768px;
//     height: 24px;
//     position: absolute;
//     content: "";
//     bottom: -12px;
//     left: -50px;
//     display: block;
//     background-image: url("../../../img/icon-zigzag-fill.svg");
//     background-repeat: no-repeat;
//   }
// }
