@use "../global/variables.scss" as *;

.hero {
  position: relative;
  padding-bottom: 120px;
  background-image: url("../img/hero/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% -17px;

  // retina
  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/hero-mobile@2x.png");
    background-size: 320px auto;
  }
}

.hero__title {
  padding-top: 72px;
  width: 260px;
  text-align: center;
  margin: 0 auto;
}

.hero__list {
  display: flex;
  flex-direction: column;
  padding: 0 -30px;
  margin-bottom: 32px;
}

.hero__item:nth-child(odd) {
  background-color: $color-green;

  &:hover {
    transform: translateY(-5px);
  }
}

.hero__item:nth-child(even) {
  background-color: $color-green-dark;

  &:hover {
    transform: translateY(-5px);
  }
}

.hero__link {
  margin: 0 auto;
  padding: 0 30px;
  min-height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  //24/19=1.26
  line-height: 1.26;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  outline: none;
}

.hero__categotry {
  width: 131px;
}

.hero__categotry-lamp {
  padding-right: 5px;
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../img/hero/hero-desktop.png");
    background-position: 50% -65px;

    // retina
    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/hero-desktop@2x.png");
      background-size: 768px auto;
    }
  }

  .hero__title {
    padding-top: 90px;
    margin-bottom: 253px;
    width: 668px;
    font-weight: 700;
    font-size: 43px;
    // 50/43 = 1.16
    line-height: 1.16;
  }

  .hero__list {
    padding: 0 50px;
    margin-bottom: -13px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(2, minmax(334px, 1fr));
  }

  .hero__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  .hero__categotry {
    padding-left: 7px;
    margin-top: -10px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding-bottom: 104px;
  }

  .hero__title {
    padding-top: 92px;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}
