@use "../global/variables.scss" as *;

.hero {
  position: relative;
  margin-bottom: 50px;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.hero::before {
  width: 320px;
  height: 299px;
  position: absolute;
  left: -30px;
  content: "";
  display: block;
  background-image: url("../../../img/mobile-hero.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.hero__title {
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 136px;
  text-align: center;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  margin: 0 -30px;
  min-height: 123px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__item:nth-child(odd) {
  background-color: $color-green;
}

.hero__item:nth-child(even) {
  background-color: $color-green-dark;
}

.hero__link {
  padding-left: 30px;
  display: flex;
  position: relative;
  font-size: 19px;
  // 24/19=1.26
  line-height: 1.26;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
}

.hero__link svg {
  position: absolute;
  top: -5px;
  right: -130px;
}

.hero__categotry {
  width: 130px;
  display: block;
}

// стили для планшета 768px
@media (min-width: 500px) and (max-width: 768px) {
  .hero::before {
    width: 768px;
    height: 746px;
    top: -86px;
    left: -50px;
    background-image: url("../../img/tablet-hero.png");
    background-repeat: no-repeat;
  }

  .hero__title {
    padding-bottom: 406px;
  }

  .hero__list {
    display: flex;
  }

  .hero__item {
    margin: 0;
    width: 336px;
  }

  .hero__link {
    padding-left: 36px;
  }

  .hero__link svg {
    right: -130px;
  }

  .hero::after {
    width: 768px;
    height: 24px;
    position: absolute;
    content: "";
    bottom: -12px;
    left: -50px;
    display: block;
    background-image: url("../../../img/icon-zigzag-fill.svg");
    background-repeat: no-repeat;
  }
}
