.main {
  width: 320px;
  min-height: 490px;
  padding: 0 30px;
  outline: 2px solid #008000;
  outline-offset: -2px;
  position: relative;
}

// стили для планшета 768px
@media (min-width: 500px) and (max-width: 768px) {
  .main {
    width: 768px;
    padding: 0 50px;
  }
}
