@use "../global/variables.scss" as *;

.main {
  min-width: 320px;
  min-height: 490px;
  // width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  outline: 2px solid #008000;
  outline-offset: -2px;
  position: relative;
}

// от 768px
@media (min-width: $tablet-width) {
  .main {
    padding: 0 50px;
  }
}

// @media (min-width: $desktop-width) {
//   .main {
//     max-width: 1440px;
//   }
// }
