@use "../global/variables" as *;

.navigation__site {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navigation__item {
    margin-left: 76px;
    min-height: 79px;
    display: flex;
    align-items: center;
  }
}

.navigation--opened .navigation__site {
  margin: 0 -30px;
  width: 100%;
  position: absolute;
  background-color: $color-white;
  z-index: 2;

  .navigation__item {
    margin-left: 76px;
    min-height: 79px;
    display: flex;
    align-items: center;
  }
}

// .navigation--nojs
.navigation--nojs .navigation__site {
  position: static;
  display: flex;
}

@media (min-width: $tablet-width) {
  .navigation__site-wrapper {
    grid-area: navigation__site-wrapper;
    background-color: $color-gray-fon;
    position: relative;

    &::before {
      height: 1px;
      width: 100%;
      position: absolute;
      content: "";
      border-top: 1px solid #e5e5e5;
      z-index: 2;
    }
  }

  .navigation__site {
    padding-left: max(50px, calc((100vw - 1050px) / 2));
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;

    .navigation__item {
      margin-left: 0;
      width: 161px;
      min-height: 64px;
      justify-content: flex-start;
    }

    .navigation__link {
      min-height: 64px;
      display: grid;
      place-items: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__site-wrapper {
    align-self: center;
    grid-area: navigation__site-wrapper;
    background-color: $color-white;

    // нижняя линия
    &::before {
      height: 1px;
      width: 100%;
      position: absolute;
      content: "";
      bottom: -1px;
      border-top: 1px solid #e5e5e5;
      z-index: 2;
    }
  }

  .navigation__site {
    .navigation__item {
      min-width: 219px;
    }

    .navigation__link {
      min-height: 89px;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
    }
  }

  // линия между меню
  .navigation__item--catalog {
    position: relative;

    &::before {
      min-height: 89px;
      width: 1px;
      position: absolute;
      content: "";
      right: 34px;
      border-right: 1px solid #e5e5e5;
      z-index: 0;
    }
  }
}
