@use "../global/variables" as *;

.navigation__site {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navigation__item {
    min-height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .navigation__site-wrapper {
    grid-area: navigation__site-wrapper;
    background-color: $color-gray-fon;
  }

  .navigation__site {
    padding-left: max(50px, calc((100vw - 1050px) / 2));
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;

    .navigation__item {
      // width: 167px;
      min-width: 162px;
      // min-width: 132px;
      min-height: 64px;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__site-wrapper {
    align-self: center;
    grid-area: navigation__site-wrapper;
    background-color: $color-white;
  }

  .navigation__site .navigation__item {
    justify-content: flex-start;
    align-items: center;
  }
}
