
@use "../global/variables" as *;

.navigation {
  margin: 0 auto;
  padding: 0 30px;
  min-width: $mobile-width;
  position: relative;
}

.navigation__logo-wrapper {
  min-width: 86px;
  min-height: 79px;
  grid-area: header__logo-wrapper;
  position: relative;
  display: flex;
}

.header__logo-img {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__logo-link {
  margin: 0 auto;
  min-height: 79px;
  display: grid;
  place-items: center;
}

.navigation__button-toggle {
  min-width: 70px;
  min-height: 79px;
  position: absolute;
  right: -30px;
  border: none;
  background-color: transparent;

  // &:hover {
  //   background-color: $color-gray;
  //   color: $color-white;
  // }

  // &:active {
  //   background-color: $color-gray;
  //   color: rgba($color-white, 0.3);
  // }

  // &:disabled {
  //   background-color: rgba($color-white, 0.3);
  //   color: rgba($color-white, 0.3);
  // }

  // &:focus-visible {
  //   outline: 2px solid $color-green;
  //   border-radius: 3px;
  // }

  /* Hide focus styles if they're not needed, for example,
  when an element receives focus via the mouse. */
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0;
  }

  /* Show focus styles on keyboard focus. */
  &:focus-visible {
    outline: 2px solid $color-green;
    outline-offset: -2px;
    border-radius: 3px;
    z-index: 50;
  }
}

// navigation--closed
// бургер
.navigation--closed .navigation__button-toggle::before {
  width: 20px;
  height: 2px;
  position: absolute;
  content: "";
  // top: 40%;
  top: 30px;
  right: 30px;
  background-color: $color-black;
  box-shadow: 0 6px 0 0 $color-black, 0 12px 0 0 $color-black;
}

// .navigation--opened
.navigation--opened .navigation__button-toggle {
  &::before,
  &::after {
    width: 25px;
    height: 2px;
    position: absolute;
    content: "";
    // top: 53%;
    // right: 28px;
    top: 35px;
    right: 28px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  // &:active::before,
  // &:active::after {
  //   background-color: fade($color-black, 30%);
  // }
}

// .navigation--nojs
.main-nav--nojs .navigation__button-toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__site {
    .navigation__item {
      display: none;

      // add navigation__item--active in li
      &--active {
        display: flex;
      }
    }
  }

  .navigation--closed .navigation__user {
    .navigation__item {
      display: none;

      // add navigation__item--active in li
      &--active {
        display: flex;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation--closed ~ .navigation__site-wrapper,
  .navigation--closed ~ .navigation__user-wrapper {
    display: block;
  }

  .navigation {
    padding: 0;
    display: grid;
    grid-template-columns: 372px 1fr;
    grid-template-rows: repeat(auto-fit, 89px);
    grid-template-areas:
      "header__logo-wrapper navigation__user"
      "navigation__site-wrapper navigation__usersub";
  }

  .navigation__logo-wrapper {
    padding-left: max(50px, calc((100vw - 1050px) / 2));
  }

  .navigation__button-toggle {
    display: none;
  }

  .navigation__logo-link {
    margin: 0;
    min-height: 89px;
    place-items: center start;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: repeat(auto-fit, 89px);
    height: auto;
    grid-template-areas:
      "navigation__site-wrapper header__logo-wrapper navigation__user"
      "navigation__sitesub-wrapper navigation__usersub navigation__usersub";
  }

  .navigation__logo-wrapper {
    margin: 0;
    padding: 0;
    place-items: center;
  }

  .header__logo-color {
    display: block;
  }
}
