@use "../global/variables" as *;

.navigation__usersub {
  display: none;
}

@media (min-width: $tablet-width) {
  .navigation__usersub {
    display: block;
    grid-area: navigation__usersub;
    padding-right: max(50px, calc((100vw - 1050px) / 2));
    background-color: $color-gray-fon;
    position: relative;

    &::before {
      height: 1px;
      width: 100%;
      position: absolute;
      content: "";
      top: 0;
      border-top: 1px solid #e5e5e5;
      z-index: 20;
    }
  }

  .navigation__usersub .navigation__item {
    min-height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navigation__usersub-text {
    margin: 0;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .navigation__usersub {
    display: grid;
    place-items: center end;

    .navigation__item {
      min-height: 62px;
    }
  }
}
