@use "../global/variables.scss" as *;

.navigation-user {
  margin: 0;
  padding: 0;
  grid-area: navigation-user;
  list-style-type: none;
  // outline: 2px solid #dda0dd;
  // outline-offset: -2px;
}

.navigation-user .navigation__link {
  margin: 0 auto;
  width: 100%;
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: grid;
  // place-items: center;
  color: $color-black;
  text-decoration: none;
  // outline: 2px solid #630363;
  // outline-offset: -4px;
}

.navigation-user .navigation__link-search {
  margin-right: 100%;
  // outline: 2px solid #07f1de;
}

// от 768
@media (min-width: $tablet-width) {
  .navigation-user {
    padding-right: max(50px, calc((100vw - 1050px) / 2));
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navigation-user .navigation__link {
    justify-content: end;
    // place-items: center end;
    min-height: 88px;
  }

  .navigation-user .navigation__link-search {
    margin: 0;
  }

  .navigation__text-search {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation-user {
    grid-template-columns: 82px 203px;
  }
}
