@use "../global/variables" as *;


.navigation__usersub-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .navigation__usersub-wrapper {
    display: grid;
    // place-items: center end;
    background-color: $color-gray-light;
  }

  .navigation__usersub {
    display: grid;
    place-items: center end;
    min-height: 89px;
    padding-right: max(50px, calc((100vw - 1050px) / 2));
  }
}
