@use "../global/variables" as *;

.navigation__sitesub-wrapper {
  grid-area: navigation__sitesub-wrapper;
  background-color: $color-gray-light;
  display: none;
}

.navigation__sitesub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // outline: 2px solid #dda0dd;
  // outline-offset: -2px;
}

.navigation__sitesub .navigation__item {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .navigation__sitesub-wrapper {
    display: grid;
  }

  .navigation__sitesub {
    padding-left: max(50px, calc((100vw - 1050px) / 2));
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .navigation__sitesub .navigation__item {
    width: 220px;
    min-height: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // outline: 2px solid #2df305;
    // outline-offset: -2px;
  }
}
