@use "../global/variables.scss" as *;
@use "../global/mixins.scss" as *;

.navigation__user {
  grid-area: navigation__user;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.navigation__user .navigation__item {
  margin-left: 76px;
  min-height: 79px;
  display: flex;
  align-items: center;
}

.navigation__user .navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    path {
      fill: $color-green-dark;
      opacity: 1;
    }
  }
}

.navigation--opened .navigation__user {
  margin: 0 -30px;
  width: 100%;
  position: absolute;
  top: 237px;
  background-color: $color-white;
  z-index: 2;

  .navigation__item {
    margin-left: 76px;
    min-height: 79px;
    display: flex;
    align-items: center;
  }
}

// .navigation--nojs
.navigation--nojs .navigation__user {
  position: static;
  display: flex;
}

.navigation__user-search-icon {
  position: absolute;
  content: "";
  left: 40px;
}

.navigation__user-cart-icon {
  position: absolute;
  content: "";
  left: 40px;
}

@media (min-width: $tablet-width) {
  .navigation__user {
    padding-right: max(50px, calc((100vw - 1050px) / 2));
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .navigation__item {
      margin-left: 0;
      min-height: 89px;
    }

    .navigation__item--search {
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      margin-right: 42px;
    }

    .navigation__link-search {
      width: 82px;
    }

    .navigation__link-recycled {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navigation__link-recycled p {
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
    }

    .navigation__user-search-icon {
      position: static;
      left: 0;
    }

    .navigation__text-search {
      display: none;
    }

    .navigation__user-cart-icon {
      position: static;
      left: 0;
      margin-right: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__user {
    justify-content: flex-end;

    .navigation__link-search {
      justify-content: flex-start;
    }

    .navigation__user-search-icon {
      margin-left: 40%;
    }

    .navigation__user-cart-icon {
      margin-right: 32px;
    }
  }
}
