@use "../global/variables.scss" as *;

.main__order .container-color {
  background-color: $color-white;
}

.order {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.order__title {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main__order .container-color {
    background-color: $color-gray-fon;
  }

  .form__fieldset {
    height: 331px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__title-legend {
    grid-column: 1 / 2;
  }

  .form__list {
    grid-column: 2 / 3;
  }

  .form__wrap-additionally {
    display: flex;
    justify-content: space-between;
  }

  .form__text-additionally {
    order: 2;
  }

  .form__button {
    order: 1;
  }
}
