@use "../global/variables.scss" as *;

.order__header {
  min-height: 177px;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
}

.order__header-title {
  margin: 0;
  display: block;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .order__header {
    min-height: 124px;
  }

  .order__header-title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .order .container-color {
    min-height: 177px;
  }
}

@media (min-width: $desktop-width) {
  .order__header {
    min-height: 130px;
  }

  .order__header-title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .order .container-color {
    min-height: 186px;
  }
}

.form-order-container {
  padding-top: 17px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 116px 208px 2px 224px;
  }
}

.form-order__wrapper {
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: #f1f1f1;

  // @media (min-width: $tablet-width) {
  //   background-image: url("../img/tablet.svg");
  //   background-position: bottom -12px center;
  //   background-size: auto 24px;
  //   background-repeat: repeat-x;
  //   background-position-x: -2px;
  //   padding-top: 39px;
  //   padding-bottom: 75px;
  // }
}
