@use "../global/variables.scss" as *;

.process {
  padding-top: 21px;
  margin-bottom: 58px;
  display: grid;
  position: relative;
  border: 1px solid #e5e5e5;
}

.process__title {
  margin: 0;
  margin-bottom: 23px;
  min-height: 48px;
  padding-left: 90px;
  font-size: 17px;
  background-image: url("../img/icon/video.svg");
  background-repeat: no-repeat;
  background-position: 32px 14px;
}

.process__video {
  width: 100%;
  min-height: 150px;
  margin-bottom: 28px;
  display: block;

  outline: none;
  outline-offset: -2px;

  /* Hide focus styles if they're not needed, for example,
  when an element receives focus via the mouse. */
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0;
  }

  /* Show focus styles on keyboard focus. */
  &:focus-visible {
    outline: 2px solid $color-green;
    outline-offset: -2px;
    border-radius: 3px;
    z-index: 50;
  }
}

.process__text {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 34px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.process__button {
  position: absolute;
  top: 140px;
  left: 30%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.process__link {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 192px;
}

@media (min-width: $tablet-width) {
  .process {
    padding-top: 0;
    padding-bottom: 46px;
    margin-bottom: 64px;
  }

  .process__title {
    margin-bottom: 5px;
    padding-left: 107px;
    font-size: 20px;
    text-align: left;
    background-position: 40px 0;
  }

  .process-video-wrapper {
    order: -1;
    min-height: 455px;
  }

  .process__video {
    margin: 0;
    margin-bottom: 32px;
  }

  .process__button {
    top: 180px;
    left: 41%;
  }

  .process__link {
    margin-bottom: 0;
    min-width: 584px;
    height: 52px;
  }

  .process__text {
    padding: 0 17px 0 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .process {
    padding: 0;
    margin-bottom: 105px;
    width: 1050px;
    min-height: 455px;
    grid-template-columns: 682px 290px;
    grid-template-rows: 171px minmax(171px, 1fr) 112px;
    column-gap: 78px;
  }

  .process__title {
    width: 180px;
    margin-top: 47px;
    padding: 48px 0 0 0;
    background-position: 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .process__text {
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    display: block;
  }

  .process__text .br1 {
    display: none;
  }

  .process-video-wrapper {
    order: 2;
    grid-row: 1/-1;
  }

  .process__video {
    margin: 0;
  }

  .process__button {
    top: 185px;
    left: 27%;
  }

  .process__link {
    margin: 0;
    min-width: 230px;
  }
}
