@use "../global/variables.scss" as *;

.process {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.process__title {
  margin: 0 auto;
  width: 156px;
  display: block;
  grid-area: process__title;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.process__video-wrapper {
  margin: 0 auto;
  width: 260px;
  min-height: 195px;
  grid-area: process__video-wrapper;
  display: block;
}

.process__text {
  margin: 0 auto;
  width: 199px;
  grid-area: process__text;
}

.process__button {
  margin: 0 auto;
  width: 192px;
  height: 52px;
  display: flex;
  grid-area: process__button;
}

// от 768px
@media (min-width: $tablet-width) {
  .process {
    max-width: 1050px;
    display: grid;
    grid-template-rows: minmax(195px, 455px) min-content 1fr min-content;
    // place-items: center;
    grid-template-areas:
      "process__video-wrapper"
      "process__title"
      "process__text"
      "process__button";
  }

  .process__title {
    min-width: 217px;
  }

  .process__text {
    width: 100%;
    padding-left: 40px;
    padding-right: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  .process__button {
    margin: 0 auto;
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .process {
    // place-items: center;
    grid-template-rows: min-content;
    grid-template-columns: 683px 367px;
    grid-template-areas:
      "process__video-wrapper process__title"
      "process__video-wrapper process__text"
      "process__video-wrapper process__button";
  }

  .process__title {
    min-width: 178px;
    height: 48px;
  }

  .process__video-wrapper {
    min-height: 455px;
  }

  .process__button {
    margin: 0 auto;
    width: 170px;
  }
}
