@use "../global/variables.scss" as *;

.product {
  outline: 2px solid #dda0dd;
  position: relative;
  margin-bottom: 100px;
}

.product__week {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  // line-height: 17px; 17/17=1
  line-height: 1;
  color: $color-green;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.product__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  // 24/15 = 1.6
  line-height: 1.6;
}

.product__features {
  width: 260px;
  margin-bottom: 41px;
  display: grid;
  grid-template-columns: 100px 160px;
  row-gap: 10px;
}

.product__features-name {
  font-weight: 400;
  font-size: 15px;
  // 20/15 = 1.33
  line-height: 1.33;
  color: $color-gray;
}

.product__features-value {
  font-weight: 400;
  font-size: 15px;
  // 20/15 = 1.33
  line-height: 1.33;
  color: $color-gray;
}

.product__priсe {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  // 24/17 = 1.41
  line-height: 1.41;
  text-align: center;
}

.product__button {
  width: 260px;
  height: 52px;
  padding: 16px 70px;
}

.product::after {
  width: 320px;
  height: 8px;
  position: absolute;
  content: "";
  // top: 775px;
  bottom: -55px;
  right: -30px;
  background-image: url("../../../img/icon-zigzag-line.svg");
  // background-image: url("../../img/icon-zigzag-fill.svg");
  background-repeat: no-repeat;
}

// стили для планшета 768px
@media (min-width: 500px) and (max-width: 768px) {
  .product__title-wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid red;
  }

  .product__week {
    margin-top: 20px;
    margin-right: 13px;
    width: 100px;
    height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    outline: 2px solid blue;
  }
}
