@use "../global/variables.scss" as *;

.reviews {
  margin: 0 auto;
  margin-bottom: 45px;
  position: relative;
}

.reviews__title {
  margin-bottom: 15px;
  grid-area: reviews__title;
}

.reviews__list {
  margin-bottom: 30px;
  grid-area: reviews__list;
}

.reviews__quote {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  // 30/15
  line-height: 2;
  color: $color-gray;
}

.reviews__quote-text {
  display: inline-block;
}

.reviews__author {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  // 24/17
  line-height: 1.41;
}

.reviews__user-alias {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $color-gray;
}

.reviews__button-wrapper {
  min-width: 260px;
  margin-bottom: 38px;
  grid-area: reviews__button-wrapper;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reviews__button {
  position: relative;
  min-width: 130px;
  min-height: 52px;
  background-image: url("../../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid $color-gray-light;
  background-position: 50% 50%;

  &--next {
    border-right: none;
    transform: rotate(180deg);
  }
}

.reviews__button-write {
  min-width: 100%;
  grid-area: reviews__button-write;
}

@media (min-width: $tablet-width) {
  .reviews {
    display: grid;
    grid-template-columns: 300px 368px;
    grid-template-areas:
      "reviews__title reviews__button-write"
      "reviews__list reviews__button-wrapper"
      "reviews__list reviews__button-wrapper";
    row-gap: 40px;
  }

  .reviews__list {
    width: 668px;
  }


  .reviews__button-wrapper {
    display: grid;
    grid-template-columns: 130px 130px;
    justify-self: end;
    align-self: end;
  }

  .reviews__button-write {
    min-width: 175px;
    align-self: flex-start;
    justify-self: end;
  }
}
