@use "../global/variables.scss" as *;

.social {
  // margin: 0 auto;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // outline: 2px solid #dda0dd;
  background-color: #f1f1f1;
}

.social__list {
  padding: 0;
  margin: 0 auto;
  min-width: 142px;
  min-height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.social__item svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
