@use "../global/variables.scss" as *;

.user-subnavigation {
  margin: 0;
  grid-area: user-subnavigation;
  display: none;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  // outline-offset: -2px;
}

@media (min-width: $tablet-width) {
  .user-subnavigation {
    display: grid;
    place-items: center end;
  }
}
