@use "../global/variables.scss" as *;

.user-navigation {
  margin: 0;
  padding: 0;
  grid-area: user-navigation;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.user-navigation .navigation__link {
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: grid;
  // place-items: center;
  color: $color-black;
  text-decoration: none;
  outline: 2px solid #630363;
  // outline-offset: -4px;
}

// от 768
@media (min-width: $tablet-width) {
  .user-navigation {
    display: grid;
    grid-template-columns: 82px 1fr;
  }

  .user-navigation .navigation__link {
    display: grid;
    grid-template-columns: 82px 1fr;
    place-items: center;
    min-height: 88px;
  }
}

