@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.11;
}
.title--h2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 1.2;
}

.button {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif, "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.header {
  min-width: 320px;
  width: 100%;
  padding: 0 30px;
  outline: 2px solid #008000;
  outline-offset: -2px;
  position: relative;
}

.header__logo-wrapper {
  margin: 0;
  padding: 0;
  min-height: 79px;
  grid-area: header__logo-wrapper;
  display: grid;
  place-items: center;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.header__button {
  padding: 0;
  display: block;
  position: absolute;
  right: 30px;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header {
    padding: 0 50px;
  }

  .header__button {
    display: none;
  }
}
@media (min-width: 1150px) {
  .header__logo-wrapper {
    place-items: start center;
  }
}
.navigation {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .navigation {
    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(348px, 1fr);
    grid-template-areas: "header__logo-wrapper user-navigation" "site-navigation user-subnavigation";
  }
}
@media (min-width: 1150px) {
  .navigation {
    max-width: 1440px;
    display: grid;
    grid-template-columns: minmax(440px, 1fr) minmax(262px, 1fr) minmax(348px, 1fr);
    grid-template-areas: "site-navigation header__logo-wrapper user-navigation" "site-subnavigation header__logo-wrapper user-subnavigation";
  }
}
.site-navigation {
  margin: 0;
  padding: 0;
  grid-area: site-navigation;
  display: grid;
  grid-template-columns: auto;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.site-navigation .navigation__link {
  min-height: 79px;
  display: grid;
  place-items: center;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 768px) {
  .site-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .site-navigation .navigation__link {
    min-height: 88px;
  }
}
.site-subnavigation {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.site-subnavigation .navigation__link {
  min-height: 79px;
  display: grid;
  place-items: center;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 1150px) {
  .site-subnavigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .site-subnavigation .navigation__link {
    min-height: 88px;
  }
}
.user-navigation {
  margin: 0;
  padding: 0;
  grid-area: user-navigation;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.user-navigation .navigation__link {
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 768px) {
  .user-navigation {
    display: grid;
    grid-template-columns: 82px 1fr;
  }

  .user-navigation .navigation__link {
    display: grid;
    grid-template-columns: 82px 1fr;
    place-items: center;
    min-height: 88px;
  }
}
.user-subnavigation {
  margin: 0;
  grid-area: user-subnavigation;
  display: none;
  list-style-type: none;
  outline: 2px solid #dda0dd;
}

@media (min-width: 768px) {
  .user-subnavigation {
    display: grid;
    place-items: center end;
  }
}
/*# sourceMappingURL=style.css.map */