@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.11;
}
.title--h2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 1.2;
}

.button {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif, "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.header {
  min-width: 320px;
  width: 100%;
  padding: 0 30px;
  outline: 2px solid #008000;
  outline-offset: -2px;
  position: relative;
}

.header__logo-wrapper {
  margin: 0;
  padding: 0;
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.header__logo {
  margin: 0 auto;
}

.header__button {
  padding: 0;
  display: block;
  position: absolute;
  right: 30px;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .header__logo-wrapper {
    width: 100%;
    min-height: 88px;
    justify-content: flex-start;
  }

  .header__button {
    display: none;
  }
}
@media (min-width: 1150px) {
  .header {
    width: 1150px;
  }

  .header__logo-wrapper {
    width: 149px;
    position: absolute;
    left: 500px;
    height: 88px;
    order: 2;
  }
}
.navigation {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.site-navigation .navigation__link {
  min-height: 79px;
  min-width: 160px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 768px) {
  .site-navigation {
    display: flex;
  }

  .site-navigation .navigation__link {
    min-width: 160px;
    min-height: 88px;
  }
}
@media (min-width: 1150px) {
  .site-navigation {
    width: 440px;
  }

  .site-navigation .navigation__link {
    width: 220px;
  }
}
.site-subnavigation {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.site-subnavigation .navigation__link {
  min-height: 79px;
  min-width: 160px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 1150px) {
  .site-subnavigation {
    display: flex;
    width: 440px;
  }

  .site-subnavigation .navigation__link {
    width: 220px;
    min-height: 88px;
  }
}
.user-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.user-navigation .navigation__link {
  min-height: 79px;
  min-width: 174px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 768px) {
  .user-navigation {
    display: grid;
    grid-template-columns: 82px 265px;
  }

  .user-navigation .navigation__link {
    justify-content: center;
    min-width: 82px;
    min-height: 88px;
  }
}
.user-subnavigation {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.user-subnavigation .navigation__link {
  min-height: 79px;
  min-width: 174px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: #000000;
  text-decoration: none;
  outline: 2px solid #630363;
}

@media (min-width: 768px) {
  .user-subnavigation {
    display: flex;
  }

  .user-subnavigation .navigation__link {
    min-width: 348px;
    min-height: 88px;
  }
}
/*# sourceMappingURL=style.css.map */