@charset "UTF-8";
@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  /* FLEXBOX Sticky Footer */
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* FLEXBOX Sticky Footer */
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

/* FLEXBOX Sticky Footer */
main {
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 27px;
  line-height: 1.11;
}
.title--h2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 1.2;
}

.button {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.order {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  border: none;
}

.form__title {
  margin: 0;
}

.form__list {
  margin: 0;
  padding: 0;
  min-width: 260px;
  height: 52px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .order {
    max-width: 1050px;
  }

  .form__fieldset-color .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .form__fieldset-color .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.link {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.container {
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .container {
    max-width: 1150px;
  }
}
.container-color {
  background-color: #ececec;
}

.header {
  min-width: 320px;
  position: relative;
}

.navigation {
  margin: 0 auto;
  padding: 0 30px;
  min-width: 320px;
  position: relative;
}

.navigation__logo-wrapper {
  margin: 0;
  grid-area: header__logo-wrapper;
  display: grid;
  place-items: center;
}

.navigation__button-toggle {
  display: block;
  position: absolute;
  right: 30px;
  border: none;
  background-color: transparent;
}

.header__logo-color {
  grid-area: header__logo-color;
  background-color: #ececec;
  display: none;
}

@media (min-width: 768px) {
  .navigation {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px 88px;
    grid-template-areas: "header__logo-wrapper navigation__user" "navigation__site-wrapper navigation__usersub-wrapper";
  }

  .navigation__logo-wrapper {
    padding-left: max(50px, (100vw - 1050px) / 2);
    place-items: center start;
  }

  .navigation__button-toggle {
    display: none;
  }
}
@media (min-width: 1150px) {
  .navigation {
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: repeat(2, 88px);
    grid-template-areas: "navigation__site-wrapper header__logo-wrapper navigation__user" "navigation__sitesub-wrapper header__logo-color navigation__usersub";
  }

  .navigation__logo-wrapper {
    margin: 0;
    padding: 0;
    place-items: center;
  }

  .header__logo-color {
    display: block;
  }
}
.navigation__site {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation__site .navigation__item {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .navigation__site-wrapper {
    grid-area: navigation__site-wrapper;
    background-color: #ececec;
  }

  .navigation__site {
    padding-left: max(50px, (100vw - 1050px) / 2);
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .navigation__site .navigation__item {
    width: 167px;
    min-height: 88px;
    justify-content: flex-start;
  }
}
@media (min-width: 1150px) {
  .navigation__site-wrapper {
    grid-area: navigation__site-wrapper;
    background-color: #ffffff;
  }

  .navigation__site .navigation__item {
    width: 220px;
    min-height: 88px;
    justify-content: flex-start;
    align-items: center;
  }
}
.navigation__sitesub-wrapper {
  grid-area: navigation__sitesub-wrapper;
  background-color: #ececec;
  display: none;
}

.navigation__sitesub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation__sitesub .navigation__item {
  min-height: 79px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 1150px) {
  .navigation__sitesub-wrapper {
    display: grid;
  }

  .navigation__sitesub {
    padding-left: max(50px, (100vw - 1050px) / 2);
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .navigation__sitesub .navigation__item {
    width: 220px;
    min-height: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.navigation__user {
  grid-area: navigation__user;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation__user .navigation__item {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .navigation__user {
    padding-right: max(50px, (100vw - 1050px) / 2);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navigation__user .navigation__item {
    min-height: 88px;
  }

  .navigation__user .navigation__link-search {
    width: 84px;
    min-height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation__user .navigation__text-search {
    display: none;
  }
}
.navigation__usersub-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .navigation__usersub-wrapper {
    display: grid;
    background-color: #ececec;
  }

  .navigation__usersub {
    display: grid;
    place-items: center end;
    min-height: 88px;
    padding-right: max(50px, (100vw - 1050px) / 2);
  }
}
.hero {
  position: relative;
  margin-bottom: 50px;
}

.hero__title {
  padding: 50px 0;
  text-align: center;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}

.hero__item:nth-child(odd) {
  background-color: #63d1bb;
}

.hero__item:nth-child(even) {
  background-color: #56c3b2;
}

.hero__link {
  min-height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  line-height: 1.26;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.hero__categotry {
  width: 131px;
}

@media (min-width: 768px) {
  .hero__list {
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  }

  .hero__link svg {
    margin-right: 36px;
  }

  .hero__categotry {
    margin-left: 36px;
    display: block;
  }
}
@media (min-width: 1150px) {
  .hero {
    max-width: 1050px;
  }
}
.product {
  margin: 0 auto;
  margin-bottom: 50px;
  outline: 2px solid #dda0dd;
  position: relative;
}

.product__title {
  grid-area: product__title;
}

.product__week {
  margin: 0;
  margin-bottom: 20px;
  grid-area: product__week;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  color: #63d1bb;
  text-transform: uppercase;
}

.product__text {
  margin: 0;
  margin-bottom: 20px;
  grid-area: product__text;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

.product__features {
  margin: 0;
  margin-bottom: 20px;
  grid-area: product__features;
  display: grid;
  grid-template-columns: 97px 1fr;
}

.product__features-name {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #444444;
}

.product__features-value {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #444444;
}

.product__images {
  grid-area: product__images;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.product__priсe {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-area: product__priсe;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;
  text-align: center;
}

.product__button {
  width: 260px;
  height: 52px;
  padding: 16px 70px;
  grid-area: product__button;
}

@media (min-width: 768px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    grid-template-areas: "product__title product__week" "product__text product__images" "product__features product__images" "product__priсe product__images" "product__button product__images";
  }

  .product__week {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  .product__text {
    width: 292px;
  }

  .product__features {
    width: 292px;
  }

  .product__button {
    width: 292px;
  }
}
@media (min-width: 1150px) {
  .product {
    max-width: 1050px;
    grid-template-columns: 133px 292px 1fr;
    column-gap: 50px;
    grid-template-areas: "product__week product__title product__images" "product__week product__text product__images" "product__week product__features product__images" "product__week product__priсe product__images" "product__week product__button product__images";
  }

  .product__title {
    padding-top: 61px;
  }

  .product__week {
    margin: 0;
    padding-top: 61px;
    padding-left: 32px;
  }
}
.about {
  margin: 0 auto;
  margin-bottom: 50px;
}

.about__list-link {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}

@media (min-width: 768px) {
  .about__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}
@media (min-width: 1150px) {
  .about__list-wrapper {
    max-width: 1150px;
  }

  .about {
    max-width: 1050px;
    grid-template-columns: 1050px;
  }
}
.reviews {
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  grid-area: reviews__title;
}

.reviews__list {
  margin: 0;
  padding: 0;
  grid-area: reviews__list;
  list-style-type: none;
}

.reviews__quote {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
}

.reviews__author {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;
}

.reviews__user-alias {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.reviews__button-wrapper {
  display: flex;
  justify-content: center;
}

.reviews__button {
  margin: 0 auto;
  width: 130px;
  min-height: 52px;
  border-color: #ececec;
}

.reviews__button-write {
  margin: 0 auto;
  width: 260px;
  height: 52px;
  grid-area: reviews__button-write;
}

@media (min-width: 768px) {
  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "reviews__title reviews__button-write" "reviews__list reviews__list";
  }

  .reviews__quote-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .reviews__button-wrapper {
    margin: 0;
    justify-items: end;
  }

  .reviews__button-write {
    margin: 0;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .reviews {
    max-width: 1050px;
  }
}
.contacts {
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  grid-area: contacts__title;
}

.contacts__address-wrapper {
  grid-area: contacts__address-wrapper;
}

.contacts__address {
  margin: 0;
}

.contacts__address-name {
  margin: 0;
}

.contacts__address-value {
  margin: 0;
}

.contacts__map-wrapper {
  margin-bottom: 40px;
  grid-area: contacts__map-wrapper;
}

.contacts__button {
  margin: 0 auto;
  width: 260px;
  height: 52px;
  grid-area: contacts__button;
}

@media (min-width: 768px) {
  .contacts__address-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contacts__address {
    display: grid;
    grid-template-columns: 82px 257px;
  }
}
@media (min-width: 1150px) {
  .contacts__address-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    max-width: 1050px;
    display: grid;
    grid-template-columns: mimax(469px, 1fr) minmax(525px, 1fr);
    column-gap: 56px;
    grid-template-areas: "contacts__title contacts__map-wrapper" "contacts__address-wrapper contacts__map-wrapper" "contacts__button contacts__map-wrapper";
  }
}
.footer {
  position: relative;
  background-color: #f1f1f1;
}

.footer__wrapper {
  margin: 0 auto;
  position: relative;
  background-color: #f1f1f1;
  display: grid;
}

.footer__logo-wrapper {
  display: none;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .footer__wrapper {
    padding: 0 50px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__logo-wrapper {
    min-height: 143px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1150px) {
  .footer__wrapper {
    padding: 0 50px;
    max-width: 1150px;
  }
}
.social {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.social__list {
  padding: 0;
  margin: 0 auto;
  min-width: 142px;
  min-height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.social__item svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.copyright__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link svg {
  margin-left: 40px;
}

.catalog {
  margin: 0 auto;
  position: relative;
}

.catalog__title {
  margin: 0;
  text-align: center;
}

.catalog__list {
  padding: 0;
  display: grid;
  grid-template-columns: minmax(260px, 1fr);
  list-style-type: none;
}

.catalog__toy-name,
.catalog__toy-description,
.catalog__toy-price {
  margin: 0;
}

@media (min-width: 768px) {
  .catalog {
    max-width: 1050px;
  }

  .catalog__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  }

  .catalog__toy-wrapper {
    display: flex;
    flex-direction: column;
  }

  .catalog__toy-price {
    margin-top: auto;
  }
}
@media (min-width: 1150px) {
  .catalog__item {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-auto-flow: column;
  }

  .catalog__list {
    grid-template-columns: repeat(3, 316px);
    column-gap: 51px;
  }

  .catalog__toy-price {
    margin-top: 0;
  }
}
.process {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  outline: 2px solid #dda0dd;
  outline-offset: -2px;
}

.process__title {
  margin: 0 auto;
  width: 156px;
  display: block;
  grid-area: process__title;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.process__video-wrapper {
  margin: 0 auto;
  width: 260px;
  min-height: 195px;
  grid-area: process__video-wrapper;
  display: block;
}

.process__text {
  margin: 0 auto;
  width: 199px;
  grid-area: process__text;
}

.process__button {
  margin: 0 auto;
  width: 192px;
  height: 52px;
  display: flex;
  grid-area: process__button;
}

@media (min-width: 768px) {
  .process {
    max-width: 1050px;
    display: grid;
    grid-template-rows: minmax(195px, 455px) min-content 1fr min-content;
    grid-template-areas: "process__video-wrapper" "process__title" "process__text" "process__button";
  }

  .process__title {
    min-width: 217px;
  }

  .process__text {
    width: 100%;
    padding-left: 40px;
    padding-right: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  .process__button {
    margin: 0 auto;
    width: 584px;
  }
}
@media (min-width: 1150px) {
  .process {
    grid-template-rows: min-content;
    grid-template-columns: 683px 367px;
    grid-template-areas: "process__video-wrapper process__title" "process__video-wrapper process__text" "process__video-wrapper process__button";
  }

  .process__title {
    min-width: 178px;
    height: 48px;
  }

  .process__video-wrapper {
    min-height: 455px;
  }

  .process__button {
    margin: 0 auto;
    width: 170px;
  }
}
.form__title {
  margin: 0;
  margin-bottom: 20px;
  grid-area: product__week;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__text-additionally {
  margin: 0;
  width: 320px;
  height: 52px;
  display: block;
}

.form__button {
  margin: 0;
  width: 320px;
  height: 52px;
  display: block;
}

@media (min-width: 768px) {
  .form__fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__title {
    grid-column: 1/2;
  }

  .form__list {
    grid-column: 2/3;
  }

  .form__wrap-additionally {
    display: flex;
    justify-content: space-between;
  }

  .form__text-additionally {
    order: 2;
  }

  .form__button {
    order: 1;
  }
}
/*# sourceMappingURL=style.css.map */