// global
@use "../../variables.scss" as *;
@use "../fonts.scss";
@use "../base-styles.scss";
@use "../title.scss";
@use "../button.scss";

.contacts {
  outline: 2px solid #dda0dd;
  margin-bottom: 40px;
}

.contacts__wrapper {
  margin: 0 -30px;
  margin-bottom: 40px;
}

.contacts__button {
  width: 260px;
  min-height: 52px;
}
