// @use "../global/variables.scss" as *;

// миксины на наведение
@mixin hover {
  opacity: 0.6;
}

@mixin active {
  opacity: 0.3;
}

@mixin input-hidden {
  position: absolute;
  appearance: none;
}
