$main-font: "Open Sans", "Arial", sans-serif;

// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-green: #63d1bb;
$color-green-dark: #56c3b2;
$color-gray: #444444;
$color-gray-fon: #f9f9f9;
$color-gray-light: #ececec;
$opacity-hover: 0.6;
$opacity-active: 0.3;

// Viewports

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
