$main-font: "Open Sans";
// $main-font: "Open Sans", "Arial", sans-serif;

// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-green: #63d1bb;
$color-green-dark: #56c3b2;
$color-gray: #444444;
$color-gray-light: #ececec;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
