@use "../global/variables.scss" as *;

.button {
  padding: 0;
  min-width: 160px;
  min-height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: $main-font, "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  // 20/18 = 1.11
  line-height: 1.11;
  color: $color-gray;
  background-color: $color-white;
  border: 2px solid $color-gray;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  // border: none;
  cursor: pointer;

  outline: none;
  outline-offset: -2px;


  &:hover {
    background-color: $color-gray;
    color: $color-white;
  }

  &:active {
    background-color: $color-gray;
    color: rgba($color-white, 0.3);
  }

  &:disabled {
    background-color: rgba($color-white, 0.3);
    color: rgba($color-white, 0.3);
  }

  &:focus-visible {
    outline: 2px solid $color-green;
    border-radius: 3px;
  }
}
