@use "../global/variables.scss" as *;

.container {
  min-width: 320px;
  // min-height: 490px;
  // width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  // outline: 2px solid #f5dd04;
  // outline-offset: -2px;
  position: relative;
}

// от 320px
// @media (min-width: $mobile-width) {
//   .container {
//     padding: 0 50px;
//   }
// }

// от 768px
@media (min-width: $tablet-width) {
  .container {
    padding: 0 50px;
  }
}

// от 1150
@media (min-width: $desktop-width) {
  .container {
    max-width: 1150px;
  }
}
