@use "../global/variables.scss" as *;

.link {
  fill: rgba($color-black, 0.2);

  &:hover {
    fill: rgba($color-green, 1);

    path {
      fill: rgba($color-green, 1);
    }

    polygon {
      fill: rgba($color-green, 1);
    }
  }

  &:active {
    fill: rgba($color-green, 0.6);

    path {
      fill: rgba($color-green, 0.6);
    }

    polygon {
      fill: rgba($color-green, 0.6);
    }
  }

  /* Hide focus styles if they're not needed, for example,
  when an element receives focus via the mouse. */
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0;
  }

  /* Show focus styles on keyboard focus. */
  &:focus-visible {
    outline: 2px solid $color-green;
    outline-offset: -2px;
    border-radius: 3px;
    z-index: 50;
  }
}
